/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.header{
	-fx-background-color: #386890 ;
	-fx-border-width: 10px;
}
.p1{
	-fx-background-image: url(normal1.png);
	-fx-background-size:500px;
	-fx-background-repeat: no-repeat;
}
.p2{
	-fx-background-image: url(normal.png);
	-fx-background-size:500px;
	-fx-background-repeat: no-repeat;
	
	
}
.p3{
	-fx-background-image: url(parpadeoEntero.png);
	-fx-background-size:500px;
	-fx-background-repeat: no-repeat;
	
}
